*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*general styles*/
body {
	font-family: "Inter", sans-serif;
}

h3 {
	color: #464764;
	font-size: 1.6rem;
	line-height: 1.5;
	text-transform: capitalize;
	/*padding: 1rem 0 .2em;*/
}

p {
	font-size: 1.2rem;
	line-height: 2;
	color: #718096 /* #3d3d3d */;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: white;
}

a.btn {
	color: black;
	font-size: 1rem;
	background: transparent;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	font-weight: 600;
}

a.btn.hero-cta {
	color: #fff;
	border-radius: 6px;
	padding: 18px 24px /* 0.7rem 1rem */;
	background: #333996;
	font-weight: 600;
	box-shadow: 0 4px 14px 0 rgba(137, 147, 164, 0.49);
}

a.btn:not(.hero-cta) {
	font-size: 1.2rem;
	margin: 0.5rem 0;
	padding: 0.2rem;
	position: relative;
	outline: none;
	position: relative;
	background: -webkit-linear-gradient(
		top,
		transparent 0%,
		transparent 60%,
		#333996 60%,
		#333996 100%
	);
}

a.btn:not(.hero-cta):hover {
	background: -webkit-linear-gradient(
		top,
		transparent 0%,
		transparent 0%,
		#333996 0%,
		#333996 100%
	);
	color: white;
}

/* a.btn:not(.hero-cta)::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	top: 25px;
	width: 100%;
	height: 5px;
	border-radius: 6px;
	background: #333996;
	transition: width 0.5s ease;
}

a.btn:not(.hero-cta):hover::before {
	/* width: 100%; */

/* a.btn:not(.hero-cta):hover {
	color: white;
} */

/* a.btn:not(.hero-cta)::before {
	content: "";
	width: 40%;
	opacity: 0;
	background: black;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transition: 0.25s all;
}

a.btn:not(.hero-cta):hover::before {
	width: 100%;
	z-index: -1;
	opacity: 1;
} */

li {
	list-style: none;
}

.container {
	padding: 2rem 1rem;
}

/*header section styles*/
header {
	background: #333996;
}

h1 {
	display: flex;
	padding-left: 1rem;
}

h1 a {
	display: flex;
}

.logo img {
	width: 100px;
	max-width: 100px;
}

/*hero section styles*/
.hero-section {
	text-align: center;
	background: #f9fafb;
}

.hero-section .container {
	padding: 3rem 1rem 3rem;
}

.hero-section h2 {
	color: #333996;
	font-size: 2.1rem;
	font-weight: 900;
	margin-bottom: 1rem;
	text-transform: capitalize;
}

.hero-texts p {
	width: 90%;
	margin: 0 auto;
}

.hero-texts,
.project-details {
	margin-bottom: 2rem;
}

/*.hero-section a{
	margin-bottom: 4rem;
}*/

/*services section styles*/
.services-section {
	background: white;
}

.service-container {
	background: inherit /* white */;
}

.service-container:first-child {
	margin-top: 0;
}

.service-container:last-child {
	margin-bottom: 0;
}

/*project section styles*/
/* .projects-section {
	color: white;
	background: #333996;
} */

.project-container,
.service-container {
	margin: 0 0 2rem;
	padding: 2rem;
	text-align: center;
	border-radius: 6px;
	box-shadow: 0 0 1.5rem rgba(22, 28, 45, 0.09)
		/* 0 0 12px rgb(0, 0, 0, 0.2) */;
}

.project-container h3,
.service-container h3 {
	margin-bottom: 1rem;
}

/* .projects-section p,
.projects-section h3 {
	color: white;
}
 */
.project-container:last-child {
	margin-bottom: 0;
}

/*footer section styles*/
footer {
	color: white;
	/* background: #454545; */
	background: #333996;
}

footer a,
footer p,
footer li,
footer h3 {
	color: inherit;
	font-size: 1.4rem;
	text-transform: capitalize;
}

footer li {
	line-height: 2rem;
}

footer .social,
footer .contact-us {
	margin: 1rem 0;
}

.social-links {
	display: flex;
	width: 25%;
	justify-content: space-between;
}

footer .container p.copyright {
	font-size: 1.2rem;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 760px) {
	h2 {
		font-size: 2.7rem;
	}
	h3 {
		font-size: 2rem;
	}
	p {
		font-size: 1.6rem;
	}

	a.btn {
		font-size: 1.2rem;
	}
}

/*header section mq*/
@media screen and (min-width: 760px) {
	h1 {
		justify-content: center;
	}
}

/*hero section mq*/
@media screen and (min-width: 760px) {
	.hero-section p {
		padding: 1rem;
	}

	.hero-section .container {
		padding: 4rem;
	}

	.hero-container {
		width: 87%;
		margin: 0 auto;
	}

	.service-container,
	.project-container {
		width: 80%;
		margin: 0.5rem auto 3rem;
	}
}

/*services section mq*/
@media screen and (min-width: 760px) {
	.services-section .container {
		display: flex;
		flex-wrap: wrap;
	}

	.service-container {
		flex-basis: 600px;
	}

	.service-container:nth-child(3) {
		margin-bottom: 0;
	}
}
/*portfolio section mq*/
@media screen and (min-width: 760px) {
	.portfolio-section .container {
		display: flex;
		flex-wrap: wrap;
	}

	.project-container {
		padding: 4rem;
		flex-basis: 600px;
	}

	.project-container:nth-child(3) {
		margin-bottom: 0;
	}

	.project-container h3 {
		padding: 0;
	}
}

/*footer section mq*/
@media screen and (min-width: 760px) {
	footer .container {
		width: 95%;
		margin: 0 auto;
	}

	.social-links {
		width: 15%;
	}
}
